@media screen and (max-width:1024px){
    .search-navbar {
        display:block;
    }
    .display-none {
        display: none !important;
    }
    .header-right-div {
        margin: 15px 0px;
    }
    .jobs-search-main-div-x2 {
        width:auto !important;
    }
    .footer-aply-btn {
        width: 150px;
    }
    .ofc-addrss {
        display: none !important;
    }
    .pop-hr-search-bar {
        width: 100%;
        margin: 20px 0px;
        opacity: 1;
        height: 2px !important;
    }
}

@media screen and (max-width:992px){
    .left-side-data {
        display: none;
    }
    .right-side-data {
        width: 100%;
        justify-content: space-between;
    }
}

@media screen and (max-width:768px){
    header {
        background: #ECF3FF;
    }
    .banner-text-inner-div2 p {
        padding: 0px 132px;
    }
    .banner-searchbar-div {
            width: 92%;
            justify-content: center;
            padding: 16px;
            margin-top: -75px;
    }
    .banner-text-inner-div h2 {
        font-size: 57px;
        padding: 0px 69px;
        line-height: 66px;
    }
    .find-jobs-btn-div {
        margin: auto;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .jobs-search-main-div, .country-main-div {
        width: 45%;
    }
    .header-right-div {
        margin-right: 0px;
    }
    .log-in-btn{
        width: 77px;
        font-size: 14px;
    }
    .upload-resume-btn svg {
        height: 18px;
    }
    .upload-resume-btn p {
        font-size: 14px;
    }
    .upload-resume-btn {
        width: 150px;
    }
    .header-blog {
        margin-right: 26px;
    }
    .emptyr-main-img-div img {
        margin: 15px 10px;
    }
    .job-info-img-div img {
        max-width: 92%;
        min-height: auto;
    }
    .job-info-img-div {
        min-height: auto;
    }
    .job-info-txt-div h4 {
        font-size: 26px;
        line-height: 46px;
        }
    .header-right-div {
         margin: 2px;
    }
    .main-header-div {
        min-height: auto;
    }
    .pages-show {
        display:block;
    }
    .flex-md-column {
        flex-direction: column !important;
    }
    .contct-forn-btn {
        width:100%;
    }
    .middle-line {
        width: 100%;
        min-height: 4px;
        margin: 26px 0px 40px 0px;
    }
    .custom-nav-links {
        margin-top:16px;
    }
    .footer-div-1 {
        margin: auto;
    }
    .custom-nav-links li {
        text-align: center;
    }
    #modal-search-div {
        top: -112px;
    }
    .find-job-btn {
        margin: 16px auto;
        width: 100%;
    }
    .main-search-head-div {
        min-height: auto;
        justify-content: space-between;
        flex-wrap: wrap;
        background: #fff;
        border-radius: 16px;
        padding: 16px;
    }
    .main-search-head-div {
        width:100%;
    }
    .jobs-search-main-div-x2 {
        width: 100% !important;
    }
}

@media screen and (max-width: 480px){
    .banner-text-inner-div h2 {
        font-size: 35px;
        padding: 0px 35px;
        line-height: 53px;
    }
    .banner-text-inner-div2 p {
        padding: 0px 60px;
        font-size: 21px;
    }
    .banner-searchbar-div {
        width: 80%;
        padding: 20px;
        margin: 7px 20px;
        margin-top: -170px;
        flex-direction: column;
    }
    .jobs-search-main-div, .country-main-div {
        width: 100%;
    }
    .search-bar-hr {
        width: 100%;
        margin: 20px 0px;
        opacity: 1;
        height: 2px !important;
    }
    .briefcase-div {
        margin-left: 0px;
    }
    .btn-flg {
        padding-left: 0px;
        padding-right: 0px;
    }
    .find-job-btn {
        margin: 20px 0px;
        width: 100%;
        height: 54px;
        margin-bottom: 0px;
    }
    .banner-text-div {
        min-height: 450px;
    }
    #mid-div-revrsng-1 {
        order:1;
    }
    #mid-div-revrsng-2 {
        order:2;
    }
    .job-info-img-div {
        margin: 25px 0px;
    }
    .main-logo-div {
        width:43px;
    }
    .secondary-heading-div h4 {
        font-size: 34px;
    }
    .secondary-heading-div p {
        font-size: 18px;
    }
    .job-info-txt-div h4 {
        font-size: 25px;
        line-height: 44px;
    }
    .job-info-txt-div p {
        font-size: 16px;
        line-height: 28px;
    }
    .emptyr-main-img-div {
        justify-content: center;
    }
    .emptyr-main-img-div img {
        max-width: 20%;
    }
    .sorting-jobs-div {
        display: none;
    }
    .main-job-alrt-container {
        order:2;
    }
    .main-jobs-container {
        order:1;
    }
    .next-prev-btn-div {
        margin: 20px 0px 56px;
    }
    .search-page-section, .policy-section{
        padding: 32px 0px 40px 0px;
    }
    .job-locations {
        margin-bottom: 5px;
    }
    .jobs-search-main-div-x2 {
        width:80%;
    }
    #job-filter-btn {
        display: block;
    }
    .apply-btn-div, .apply-btn-div button {
        width: 100%;
        margin-right: 0px;
    }
    #modal-search-div {
        top: -116px;
    }
    .pop-modal-flag-field {
        margin-left: 0px;
    }
    .footer-aply-btn {
        width: 120px;
    }
}

@media screen and (max-width: 320px){
    .banner-text-inner-div h2 {
        font-size: 31px;
        padding: 0px 15px;
        line-height: 49px;
    }
    .banner-text-inner-div2 p {
        padding: 0px 20px;
        font-size: 17px;
    }
    .emptyr-main-img-div img {
        width: 35%;
    }
}