:root {
    --color-primary: #1660D6;
    --color-dark: #0D0D0D;
    --color-light: #808080;
    --border-primary: #1660D6;
    --border-light: #808080;
    --bg-primary: #1660D6;
    --font-primary: DM Sans;
  }
.outer-boundary {
    border:none !important;
    outline:none !important;
    box-shadow:none !important;
}
.secondary-font-style {
    font-family: var(--font-primary);
    font-weight: bold;
    font-size: 21px;
    letter-spacing: -0.04em;
    color: var(--color-dark);
}
.secondary-font-style-small {
    font-family: var(--font-primary);
    font-weight: bold;
    font-size: 16px;
    letter-spacing: -0.04em;
    color: var(--color-dark);
}
.secondary-para-style-small {
    font-weight: 500;
}
.secondary-para-style-small-xx {
    font-weight: bold;
    font-size: 12px;
}
.secondary-heading-style {
    font-family: var(--font-primary);
    font-weight: 500;
    font-size: 18px;
    letter-spacing: -0.03em;
    color: var(--color-primary);
    margin-bottom: 0px;
}
.ml-1 {
    margin-left: 10px !important;
}
.mr-1 {
    margin-right: 10px !important;
}
.mr-2 {
    margin-right: 20px !important;
}
.m-auto {
    margin:auto !important;
}
.ml-2 {
    margin-left: 20px !important;
}
.mr-0 {
    margin-right: 00px !important;
}
.pr-0 {
    padding-right: 00px !important;
}
.ml-0 {
    margin-left: 00px !important;
}
.black-primary, .modal-title {
    color: #3E3E3E ;
    font-family: var(--font-primary);
    text-decoration: none;
}
.blue-primary {
    color: var(--color-primary) !important;
    text-decoration: none;
}
.h-6 {
    height: 1.5rem;
}
.h-5 {
    height: 1.25rem;
}
.main-header-div {
    min-height: 96px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.main-logo-div {
    width:89px;
    margin-left: 80px;
    flex-wrap: wrap;
    margin: 15px;
}
.home-page .navbar-light {
    background:#ECF3FF;
}
.navbar-light .navbar-toggler-icon {
    background-image: none;
}
.search-navbar {
    display:none;
}
#job-filter-btn {
    display: none;
}
.header-right-div {
    margin: 15px;
    margin-right: 80px;
    flex-wrap: wrap;
}
.header-blog {
    margin: 15px 0px;
    color: var(--color-primary);
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.03em;
    text-decoration: none;
    margin-right:36px;
}
.log-in-btn, .find-job-btn, .common-btn {
    margin: 15px 0px;
    width: 150px;
    height: 48px;
    background: var(--bg-primary);
    font-family: var(--font-primary);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.03em;
    color:#fff;
    padding: 12px 16px;
    border-radius: 12px;
    margin-right: 8px;
}
.find-job-btn {
    margin: 16px;
}
.upload-resume-btn {
    margin: 15px 0px;
    width: 165px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #7AAAF6;
    border-radius: 12px;
    text-decoration: none;
}
.upload-resume-btn svg {
    right: 5px;
    position: relative;
    color: var(--color-primary);
}
.upload-resume-btn p {
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: var(--color-primary);
}

/* Banner Section Code */

.banner-section {
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.banner-text-div {
    background-image: url(../images/Ellipse.png);
    width: 100%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.banner-text-inner-div {
    max-width: 807px;
    /* height: 166px; */
    text-align: center;
    padding-top: 56px;
    color: #3E3E3E;
}
.banner-text-inner-div h2 {
    font-family: var(--font-primary);
    font-weight: bold;
    font-size: 64px;
    line-height: 83px;
    text-align: center;
    letter-spacing: -0.05em;
}
.banner-text-inner-div2 {
    padding-top: 8px;
}
.banner-text-inner-div2 p {
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    letter-spacing: -0.05em;
}
.banner-searchbar-div {
    width: 896px;
    min-height: 80px;
    background: #FFFFFF;
    box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.02), 0px 8px 8px rgba(0, 0, 0, 0.02);
    border-radius: 16px;
    margin-bottom: 56px;
    margin-top: -30px;
    flex-wrap: wrap;
}
.jobs-search-main-div {
    width: 40%;
}
.briefcase-div {
    margin: auto 10px auto 26px;
}
.job-input-div {
    width: 100%;
}
.seacrh-jobs-input::placeholder, .seacrh-country-input::placeholder {
    font-family: var(--font-primary);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.03em;
    color: #C5C5C5;
}
.seacrh-jobs-input:focus::placeholder, .seacrh-country-input:focus::placeholder {
    color: #C5C5C5;
}
.search-bar-hr {
    background: #EBEBEB;
    width: 2px;
    opacity: 1;
    height: 40px !important;
    margin: 0px 10px; 
}
.flag-showing-div {
    background-image: url(../images/flags.png);
    width: 24px;
    height: 24px;
}
.find-jobs-btn-div {
    margin-left: auto;
}
.banner-botton-hr {
    width: 114px;
    height: 4px!important;
    background: #EBEBEB;
    margin-bottom: 56px;
}

/* Jobs Informaion Section Code */

.secondary-heading-div {
    text-align: center;
    color: #3E3E3E;
}
.secondary-heading-div h4 {
    font-family: var(--font-primary);
    font-weight: bold;
    font-size: 40px;
    line-height: 53px;
    text-align: center;
    letter-spacing: -0.05em;
}
.secondary-heading-div p {
    font-family: var(--font-primary);
    color: var(--color-light);
    letter-spacing: -0.04em;
    font-weight: 500;
    font-size: 21px;
}
.job-info-img-div {
    min-height: 494px;
    margin: 45px 0px;
}
.job-info-img-div img {
    max-width: 100%;
}
.job-info-txt-div h4 {
    font-family: var(--font-primary);
    font-weight: bold;
    font-size: 30px;
    line-height: 53px;
    text-align: left;
    letter-spacing: -0.05em;
}
.job-info-txt-div p {
    font-family: var(--font-primary);
    color: #3E3E3E;
    letter-spacing: -0.04em;
    font-weight: 500;
    font-size: 20px;
    line-height: 31px;
    margin-bottom: 16px;
}
.job-info-txt-div {
    margin: 40px 15px;
}
#mid-div-revrsng-1 {
    order:2;
}
#mid-div-revrsng-2 {
    order:1;
}
.emptyr-main-img-div img {
    margin: 15px 0px;
}

/* Blog Section */

.Blog-section {
    background: linear-gradient(180deg, rgba(178, 206, 251, 0.25) 0%, rgba(178, 206, 251, 0) 7.5%, rgba(178, 206, 251, 0) 79.9%, rgba(178, 206, 251, 0.25) 100%);
    padding: 64px 0px 112px 0px;
}
.card {
    min-height: 375px;
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    box-shadow: 0px 9px 18px rgba(53, 53, 53, 0.04);
    border-radius: 16px;
    padding: 16px;
    margin: 16px 0px;
}
.card-img-top {
    border-radius: 8px;
}
.card-body {
    padding: 1rem 0rem;
}
.card-body p {
    color: var(--color-light);
    font-family: var(--font-primary);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.03em;
    margin-bottom: 20px;
}
.rm-btn {
    font-family: var(--font-primary);
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.03em;
    color: var(--color-primary);
    padding-left: 0px;
}

/* Footer section */

.footer-section {
    padding: 62px 0px;
}
.footer-div-1 {
    margin-left: 15px;
    width: 118px;
}
.footer-div-1 img {
   width: 118px;
}
.social-icons {
    margin-top: 16px;
}
.custom-nav-links li {
    text-align: left;
    font-family: var(--font-primary);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.03em;
    border: none;
}
.ofc-addrss p {
    line-height: 24px;
    letter-spacing: -0.03em;
    padding-right: 5rem;
}

/* Seacrh Page Code */
.search-page-section {
    background: #fafafa;
    background-image: url(../images/Ellipse.png);
    width: 100%;
    min-height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 32px 0px 72px 0px;
}
.policy-section {
    /* background: #fff; */
    background-image: url(../images/Ellipse.png);
    width: 100%;
    min-height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 32px 0px 72px 0px;
}
.job-alert-div {
    padding: 16px;
    width: 100%;
    min-height: 266px;
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.04);
    border-radius: 16px;
}
.job-input-alert, .job-input-alert:focus {
    background: #F7F7F7;
    border-radius: 8px;
    height: 48px;
}
.common-data-div {
    padding: 24px;
    width: 100%;
    min-height: 200p;
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.04);
    border-radius: 16px;
}
.left-side-data p {
    font-family: var(--font-primary);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.03em;
    color: var(--color-light);
    padding-bottom: 8px;
    margin-bottom: 0px;
}
.left-side-data h4 {
    font-family: var(--font-primary);
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.03em;
    color: var(--color-dark);
}
.right-side-data h4 {
    font-family: var(--font-primary);
    font-weight: 600;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: -0.03em;
    color: var(--color-dark);
}
.form-switch .form-check-input {
    width: 49px;
}
.form-check-input {
    height: 29px;
}
.form-check-input:checked {
    background-color: var(--bg-primary);
    border-color: var(--color-primary);
}
.form-check-input:focus {
    box-shadow: none;
}
.page-showing-div{
    border-bottom: 1px solid #EBEBEB;
    padding-bottom: 20px;
}
.job-dsply-div{
    border-bottom: 1px solid #EBEBEB;
    padding-bottom: 20px;
    margin-top: 16px;
    position: relative;
}
.job-dsply-div:last-child{
    border-bottom: none;
}
.job-dsply-div p{
    font-family: var(--font-primary);
    font-weight: bold;
    font-size: 21px;
    letter-spacing: -0.04em;
    color: var(--color-primary);
    margin-bottom: 10px;
}
.job-dsply-div h4 {
    font-family: var(--font-primary);
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -0.03em;
    color: #3E3E3E;
    padding-bottom: 2px;
}
.job-locations {
    margin-right: 16px;
    margin-bottom: 5px;
}
.job-locations p{
    font-family: var(--font-primary);
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.03em;
    color: #3E3E3E;
}
.job-dsply-div label {
    font-family: var(--font-primary);
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.03em;
    color: var(--color-light);
}
p.job-post-text-p {
    padding: 4px 12px;
    background: #F7F7F7;
    border-radius: 16px;
    font-family: var(--font-primary);
    font-weight: bold;
    font-size: 12px;
    letter-spacing: -0.03em;
    color: #3E3E3E;
    width:max-content;
    margin-top: 10px;
}
.bookmrk-div {
    position: absolute;
    right: 0px;
    cursor:pointer;
}
.prev-btn {
    padding: 12px 16px;
    width: auto;
    height: 45px;
    background: #FFFFFF;
    border: 1px solid #C5C5C5;
    border-radius: 12px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.03em;
    color: #3E3E3E;
}
.next-prev-btn-div {
    margin: 40px 72px 10px;
}
.modal-content {
    border-radius: 16px;
}
.pages-show h4 {
    font-family: var(--font-primary);
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.03em;
    color: var(--color-light);
    margin-bottom: 0px;
}
.pages-show {
    display:none;
}

.job-descrptn-main-div label {
    font-family: var(--font-primary);
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.03em;
    color: var(--color-light);
}
.apply-btn-div {
    margin-right: 90px;
}
.job-descrptn-main-div h3 {
    font-family: var(--font-primary);
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.03em;
    color: var(--color-dark);
    margin-top: 24px;
}
.jd-ul-li {
    padding-left: 2rem;
    max-width: 626px;
}
.jd-ul-li li {
    font-family: var(--font-primary);
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.03em;
    color: #3E3E3E;
    line-height: 24px;
}
.bookmrk-div-1 {
    position: absolute;
    right: 0px;
    color: var(--color-light);
    border: 1px solid var(--color-light);
    padding: 4px 5px;
    border-radius: 5px;
    cursor:pointer;
}
.bookmrk-div-2 {
    right: 50px;
    cursor:pointer;
}
.bookmrk-div-footer {
    color: var(--color-light);
    border: 1px solid var(--color-light);
    padding: 4px 5px;
    border-radius: 5px;
    cursor:pointer;
}
.footer-aply-btn {
    width: 445px;
}
.faq-main-div h3 {
    font-family: var(--font-primary);
    font-weight: bold;
    font-size: 32px;
    letter-spacing: -0.04em;
    color: var(--color-primary);
    margin-top: 95px;
}
.faq-main-div img {
    margin: 12px 5px 20px 5px;
}
.accordion {
    border-radius: 12px;
    border:none !important;
    background:none;
}
.accordion-item, .accordion-item:first-of-type, .accordion-item:last-of-type {
    border-radius: 12px;
    /* padding: 24px 16px; */
    margin: 24px 0px;
}
.accordion-collapse, .accordion-item:last-of-type .accordion-collapse, .accordion-item:last-of-type .accordion-button.collapsed {
    /* background:#fff; */
    border-radius: 12px;
}
 .accordion-button, .accordion-button:not(.collapsed) {
    font-family: var(--font-primary);
    color: var(--color-primary);
    /* background-color: none !important; */
    box-shadow: none !important;
    background: none !important;
    outline: none !important;
}
.accordion-body {
    font-size: 15px;
    font-family: var(--font-primary);
    padding-top: 0px;
}
.accordion-button, .accordion-item:first-of-type{
    font-family: var(--font-primary);
    color: #3E3E3E;
    border-radius: 12px;
}
.accordion-button:focus {
    box-shadow: none !important;
}
.accordion-button:not(.collapsed)::after {
    background-image: none;
    content: "-";
    font-size: 37px;
}
.accordion-button::after {
    background-image: none;
    content: "+";
    font-size: 37px;
    height: auto;
}
.faq-footer-h4, .faq-footer-p {
    font-family: var(--font-primary);
    font-weight: normal;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.05em;
    color: #3E3E3E;
}
.faq-footer-p {
    font-size: 16px;
    line-height: 25px;
}
.policy-footer-h4{
    font-family: var(--font-primary);
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;
    letter-spacing: -0.05em;
    color: var(--color-primary);
}
.about-cmpy-addr-div {
    width: 237px;
    min-height: 194px;
    background: #FFFFFF;
    border: 1px solid #7AAAF6;
    border-radius: 16px;
}
.middle-line {
    width: 4px;
    min-height: 437px;
    background: #F7F7F7;
    border-radius: 12px;
    padding: 0px;
}
.contact-form-div {
    padding: 16px;
    background: #FAFAFA;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.04);
    border-radius: 12px;
}
.user-info-div {
    padding: 16px;
    width: 100%;
    height: 56px;
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    border-radius: 12px;
}
.user-info-div-2 {
    padding: 16px;
    width: 100%;
    min-height: 200px;
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    border-radius: 12px;
}
.user-info-div:hover, .user-info-div-2:hover {
    border: 1px solid #7AAAF6;
}
.user-info-div:hover svg {
    color: var(--color-primary);
}
.user-info-div:focus-within, .user-info-div:active, .user-info-div-2:focus-within, .user-info-div-2:active  {
    border: 1px solid var(--border-primary);
}
.user-info-div:focus-within svg {
    color: var(--color-primary);
}
.user-info-div:focus-within .user-info-input::placeholder, .user-info-div:focus-within .user-info-input, .user-info-div-2:focus-within .user-info-input::placeholder, .user-info-div-2:focus-within .user-info-input{
    color: var(--color-primary);
}
.bookmark-job {
    color: var(--color-light);
}
#modal-search-div {
    display: none;
    min-height: auto;
    background: #fff;
    border-radius: 16px;
    padding: 16px;
    position: relative;
    width: 100%;
    z-index: 999;
    top: -68px;
    box-shadow: 0px 12px 16px rgb(0 0 0 / 2%), 0px 16px 56px rgb(0 0 0 / 22%);
}
.hiding-modal-h3 {
    font-family: var(--font-primary);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.05em;
    color: var(--color-light);
    text-align: center;
    width: fit-content;
    margin: auto;
}
.pop-modal-flag-field {
    margin-left: 15px;
}
.form-control:focus::placeholder {
    color: #C5C5C5 !important;
}

/* Manual Alert Css */
.manual-alert {
    position: fixed;
    top: 10px;
    z-index: 9999;
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    right: 10px;
    box-shadow: 0px 12px 16px rgb(0 0 0 / 2%), 0px 16px 56px rgb(0 0 0 / 22%);
    border-left: 7px solid var(--border-primary);
    display: none;
}
.manual-alert-icon-div {
    width: 15%;
}
.manul-alrt-cntnt p{
    color: var(--color-light);
    font-weight: 500;
    font-size: 14px;
}
.manul-alrt-cntnt h3 {
    font-family: var(--font-primary);
    font-weight: 500;
    font-size: 18px;
    letter-spacing: -0.05em;
    color: var(--color-primary);
}

/* Manual Alert Css */

.dropdown-menu {
    padding: 8px;
    max-height: 232px;
    overflow-y: auto;
    background: #FFFFFF;
     box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}
.main-search-head-div{
    width: 100%;
}
.jobs-search-main-div-x2 {
    width: 40%;
}